/*
 * 1. BASICS
 */

*{
  box-sizing: border-box;
}

html{
  background: #efefef;
}

body {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 1.1em;
  margin:0 auto;
  max-width: 50em;
  background-color: white;
  padding:1em;
}
/*
 *2. Type
 */
h1, h2, h3{
  font-family: 'Cinzel', serif;
}

h1{
  font-size: 3em;
  margin:0 0 0.5em 0;
  line-height: 1;
}

h2{
  font-size: 1.5em;
  margin: 0 0 1em 0;
  line-height: 1;
}

p{
  line-height: 1.5;
  margin: 0 0 1.5em 0
}

kbd{
  border: 1px solid #bbc;
  background-color: #efefef;
  border-radius: 2px;
  padding:0 0.3em;
  line-height: inherit;
  color: #333;
}

a:link {
  color:rgb(232, 51, 53);
}

a:visited {
  color: #666;
}

a:hover, a:active, a:focus{
  color: rgb(158, 35, 36);
}

/*
 * 3.
 */

a.btn{
  padding: 0.5em 0.7em;

  background: rgb(232, 51, 53);
  border-radius: 5px;

  color: white;
  text-decoration: none;
  font-weight: bold;

  transition: background-color 0.5s;
}

a.btn:hover, a.btn:focus, a.btn:active{
  background: rgb(158, 35, 36);

}

.btn svg{
  display: inline-block;
  width:1em;
  height:1em;
  vertical-align: middle;
  fill: currentColor;
}
